<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion des Equipes</title>
  <!-- Bootstrap CSS -->
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gestion Equipes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- Left side navigation -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="equipes">Home</a>
        </li>
        <!-- Dropdown menu for 'Equipes' -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="equipesDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Equipes
          </a>
          <ul class="dropdown-menu" aria-labelledby="equipesDropdown">
            <li><a *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="addEquipe">Ajouter</a></li>
            <li><a class="dropdown-item" routerLink="equipes">Lister</a></li>
            <li><a class="dropdown-item" routerLink="/rechercheParLigue">Recherche Par Ligue</a></li>
            <li><a class="dropdown-item" routerLink="/rechercheParNom">Recherche Par Nom</a></li>
            <li><a class="dropdown-item" routerLink="/listeLigues">Gestion des ligues</a></li>
          </ul>
        </li>
      </ul>

      <!-- Right side navigation -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link">{{authService.loggedUser}}</a>
        </li>
        <!-- Dropdown menu for 'Connexion' -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="connexionDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Connexion
          </a>
          <ul class="dropdown-menu" aria-labelledby="connexionDropdown">
            <li><a *ngIf="!authService.isloggedIn" class="dropdown-item" routerLink="login">Login</a></li>
            <li><a *ngIf="authService.isloggedIn" class="dropdown-item" (click)="onLogout()">Logout</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

    <router-outlet></router-outlet>

  <!-- Bootstrap JS (includes Popper.js) -->
</body>

</html>